
<nav class="navbar bg-dark-subtle">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Compañero de Estudio</a>
    <form class="d-flex" role="search" method="GET" action="{% url 'home' %}">
      <input class="form-control me-2" aria-label="Search" type="text" name="q" placeholder="Buscar Rooms...">
    </form>
  </div>
</nav>

{% if request.user.is_authenticated %}
  <a href="{% url 'logout' %}">Salir</a>
{% else %}
  <a href="{% url 'login' %}">Ingresar</a>
{% endif %}

<hr>